# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.env

# Distribution / build
client/node_modules/
dist/
static/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store
